* {
    box-sizing: border-box;
  }
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: inline;
  }

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
  }

  nav li {
    list-style-type: none;
  }

  nav {
    background-color: #00a2c6;
    padding: 5px;
    
    position: sticky;
    top: 0;  /*Nilai top: 0 diperlukan agar elemen navigasi selalu berada di atas jendela browser saat user melakukan scrolling.*/

 }

 nav ul{
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
 }

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}

#content{
    flex: 5;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1;
  }

h2, h3 {
    color: #00a2c6
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
 
  }

.profile header {
    text-align: center;
  }

  .profile img {
    width: 200px;
  }


footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}



/*
Pada ukuran layar di bawah 1200 pixel, kita akan membuat flex items dari elemen main (elemen #content dan elemen aside)
 menjadi tersusun secara vertikal
*/
@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }
  main aside {
    align-self: center;
  }
}

/*
ntuk ukuran layar di bawah 768 pixel, kita akan menengahkan posisi navigasi bar agar
 tidak selalu di tepi kiri. Kita tambahkan CSS rule untuk elemen nav ul dengan properti
  justify-content: center. Selain itu, kita juga tambahkan CSS rule untuk elemen aside
   dengan properti align-self: stretch. Tujuannya adalah ketika ditampilkan pada ukuran smartphone,
    lebar dari card profil bandung dapat memenuhi container (pembungkus). 
*/
@media screen and (max-width: 768px) {

  nav ul {
    justify-content: center;
  }

  main aside {
    align-self: stretch;
  }
}